body {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #393e46;
}

body form {
    border: 1px solid #333;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #fd7014;
}

.signup {
    position: fixed;
    right: 1rem;
    top: 1rem;
    padding: 1rem;
    width: 8rem;
    background-color: rgb(155, 155, 255);
}